.main
{
    margin:0px;
    padding: 0px;
    background-color: black;
}
.Menubar
{
    border: 1px solid black;
    height: 100px;
    width: auto;
    margin: right 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    box-shadow: wheat 4px 4px 60px;
}
#logo1
{
    height: 70px;
    width: 170px;
    margin-left: -680px;
    position: absolute;
    margin-top: -34px;
}
#p1 
{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 21px;
    color:white;
    margin-right: 215px;
    position: absolute;
    margin-top: 27;
}
#p1:hover
{
    color: black;
    background-color: rgb(204, 198, 198);

}
#p2
{
    border: 1px solid black;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin-left: 140px;
    position: absolute;
}
#p2:hover
{
    color: black;
    background-color: rgb(204, 198, 198);   
}
#p3
{
    border: 1px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin-left: 210px;
    margin-top: -12px;
    position: absolute;
}
#p3:hover
{
    color: black;
    background-color: rgb(204, 198, 198);   
}
#p4
{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 20px;
    color: white;
    margin-left: 400px;
    margin-top: -12px;
    position: absolute;
}
#p4:hover
{
    color: black;
    background-color: rgb(204, 198, 198);
}
#p5
{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-left: 570px;
    margin-top: -12px;
    position: absolute;
}
#p5:hover
{
    color: black;
    background-color: rgb(204, 198, 198);
}
#img2
{
        background: url(img/main2.jpeg);
        width: auto;
        height: 440px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        margin-top: 60px;
       border: 1px solid rgb(172, 172, 172);
       box-shadow: black 3px 3px 20px;
}
#tra
{  
       height: 350px;
       width: 440px;
       border: 1px solid rgb(121, 121, 121);
       border-top-left-radius:40px ;
       border-bottom-right-radius:40px ;
       margin-top:40px;
       margin-left: 30px;
       background: rgba(254, 254, 254, 0.5);
       box-shadow:9px 9px 20px    black ;
}
#tra > pre
{
          font-size: 19px;
           font-weight: bold;
          font-style: italic;
          font-family: serif;
          text-align: center;
          margin-top: 20px;
}
#tra > h1
{
    text-align: center;
    margin-top: 40px;
}
#img3
{
    border: 1px solid rgb(199, 199, 199);
    box-shadow: black 5px 5px 10px;
    border-radius: 50%;
    height: 170px;
    width: 170px; 
    margin-top: 80px;
    margin-left: 35px;
}
#img3:hover{
    height: 180px;
    width: 180px;
    margin-top: 10px;
    margin-left: 23px;
    box-shadow: rgb(115, 120, 192) 5px 5px 10px;
}
#starter{
    font-size: 19px;
    margin-left: 75px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#soup{
    font-size: 19px;
    margin-left: 300px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#veg{
    font-size: 19px;
    margin-left: 520px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nonveg{
    font-size: 19px;
    margin-left: 710px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#fastfood{
    font-size: 19px;
    margin-left: 910px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cake{
    font-size: 19px;
    margin-left: 1150px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ice{
    font-size: 19px;
    margin-left: 1325px;
    position: absolute;
    margin-top: -5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#resto
{
    box-shadow: 5px 5px 20px;
     width: 800px;
    height: 550px;
    background-size: cover;
    margin-bottom: 80px;
    border-top-right-radius: 400px;
    border-bottom-right-radius:400px ;
    position: absolute;
}
#img4
{
       
         height: 550px;
         width: 1500px;
         background-image: url(img/resto.jpg);
         margin-top: 135px;
}
#text
{
    height: 550px;
       width: 1500px;
       border: 1px solid white;
               background: rgba(254, 254, 254, 0.5);
          box-shadow: 3px 2px 20px;
    }
#text > pre{
    border: 1px solid white;
    height: 130px;
    width: 515px;
    margin-left:880px ;
    font-size: 19px;
    font-style: italic;
    font-family: serif;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    box-shadow: black 2px 2px 10px;     
}
#text > h1{
    font-style: italic;
    font-family: serif;
    margin-left: 1000px;
    margin-top: 200px;
      
}
#img6
{
         height: 550px;
         width: 1500px;
         background-image: url(img/resto.jpg);
         margin-top: 140px;
}
#looby
{
    box-shadow: 5px 5px 20px;
     width: 800px;
    height: 550px;
    background-size: cover;
    margin-left: 700;
    border-top-left-radius: 400px;
    border-bottom-left-radius:400px ;
    position: absolute;
}
#text2
{
    height: 550px;
       width: 1500px;
       border: 1px solid rgba(255, 255, 255, 0);
       margin-bottom:200px;
         background: rgba(0, 0, 0, 0.549);
        box-shadow: 2px 2px 20px;
    }
#text2 > pre{
    text-align: center;
    width: 555px;
    margin-left: 50;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: serif;
    margin-top: 340px;
    font-size: 25px;     
}
#img5{
        border: 1px solid rgba(0, 0, 0, 0);
        box-shadow: black 2px 2px 10px;
        height: 500px;
        width: 1500px;
        margin-top: 60px;
        opacity: 0.30;
        color: black;
}
#text5{
         border: 1px solid rgba(0, 0, 0, 0.388);
         height: 350px;
         width: 900px;
         margin-top:-430px;
         margin-left: 290px;
         background-color: black;
         box-shadow: black 10px 10px 500px;
}
#text5 >h1{
            text-align: center;
           margin-top: 90px;
            color: white;
            font-size: 40px;
            font-weight: 900;
            z-index: -1;
            
}
#text5 >p{
   color: black;
   background-color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 900;

}
#pp{
    display: flex;
    justify-content: center;
}
#p6
{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: black;
    color: white;
    position: absolute;
}
#p6:hover
{
    color: black;
    background-color: rgb(204, 198, 198);
}
.footer
{
    border: 1px solid black;
    height: 260px;
    width: auto;
    margin-top: 60px;
    background-color: black;
    box-shadow: wheat 4px 4px 60px 4px;
}
#f1
{
    font-size: 19px;
    color: white;
    margin-left: 90px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home{
       color: white;
       text-decoration-line: none;
}
#menu{
    color: white;
    text-decoration-line: none;
}
#about{
    color: white;
    text-decoration-line: none;
}
#contact{
    color: white;
    text-decoration-line: none;
}
#location{
    color: white;
    text-decoration-line: none;
}
#f2
{
    font-size: 19px;
    color: white;
    margin-left: 350px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#f3
{
    font-size: 19px;
    color: white;
    margin-left: 640px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#f4
{
    font-size: 19px;
    color: white;
    margin-left: 950px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#f5
{
    font-size: 19px;
    color: white;
    margin-left: 1290px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#l1
{
    height: 38px;
    width: 100px;
    margin-left: 360px;
    position: absolute;
}
#l2
{
    height: 38px;
    width: 100px;
    margin-left: 560px;
    position: absolute;
}
#l3
{
    height: 38px;
    width: 100px;
    margin-left: 760px;
    position: absolute;
}
#l4
{
    height: 38px;
    width: 100px;
    margin-left: 960px;
    position: absolute;
}